#bar-actions{
    height: 30px;
    margin-bottom: 10px;
}

#bar-content{
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 16px);
}

#line-content{
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 16px);
    margin-top: 10px;
}

button{
    float: right;
}
