body{
	background-color: #212121;
	font-family: 'Montserrat', sans-serif;
}

.quarter{
	width: calc(50% - 15px);
	height: calc(50% - 15px);
	/*border: 1px solid #3c191d;*/
	border: none;
	position: absolute;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 5px;
	background-color: #FFF;
	padding: 8px;
}

.top{
	top: 0px;
	margin-top: 10px;
}

.bottom{
	top: calc(50%);
	margin-bottom: 10px;
}

.left{
	left: 0px;
	margin-left: 10px;
}

.right{
	left: calc(50%);
	margin-right: 10px;
}

.half-graph{
	width: calc(50% - 28px);
	display: inline-block;
	height:100%;
	padding: 0px 8px;
}

.select-button{
	border: 2px solid #7f1a1a;
	padding: 5px;
}

.selected-button{
	background-color: #7f1a1a;
	font-weight: bold;
	color: #FFF;
}

.select-button:focus {outline:0;}

.not-selected-button{
	background-color: #FFF;
	font-weight: normal;
	color: #7f1a1a;
}

.not-selected-button:hover{
	background-color: #FFC0CB;
	cursor: pointer;
}

#info-popup{
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	top:0px;
	left:0px;
}

#pop-content h2{
	margin-top: 0px;
}

#pop-content{
	position: relative;
	width: 40%;
	background-color: #FFF;
	height: min-content;
	left: 50%;
  	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	padding: 20px;
}

strong{
	color: #7f1a1a;
	font-weight: bold;
}

#pop-close{
	position: relative;
	width: 30px;
	height: 30px;
	right: -12px;
  	top: -12px;
	float: right;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}
#pop-close:hover, #help:hover{
	cursor: pointer;
	font-weight: bold;
}

#help{
	position: relative;
	width: 30px;
	height: 30px;
	right: 0px;
  	top: 0px;
	float: right;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	background-color: #7f1a1a;
	color: #FFF;
	font-weight: bold;
	border-radius: 15px;
}
